*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:#fff;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#game{
    width:100%;
    max-width:420px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#hud{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
    font-size:28px;
    font-weight:bold;
}

#road{
    width:340px;
    height:520px;
    position:relative;
    overflow:hidden;
    background:url("Screenshot_20260703-210859.jpg") center/cover no-repeat;
    border-radius:12px;
}

#car{
    width:50px;
    height:90px;
    position:absolute;
    bottom:20px;
    left:145px;
    background:url("Screenshot_20260703-210749.jpg") center/contain no-repeat;
}

#coin{
    width:35px;
    height:35px;
    position:absolute;
    top:-50px;
    left:150px;
    background:url("Screenshot_20260703-210959.jpg") center/contain no-repeat;
}

#obstacle{
    width:50px;
    height:50px;
    position:absolute;
    top:-70px;
    left:145px;
    background:url("Screenshot_20260703-211048.jpg") center/contain no-repeat;
}

.tree{
    width:45px;
    height:80px;
    position:absolute;
    background:url("Screenshot_20260703-211428.jpg") center/contain no-repeat;
}

.left{
    left:5px;
}

.right{
    right:5px;
}

.controls{
    width:340px;
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.controls button,
#restartBtn{
    width:80px;
    height:60px;
    border:none;
    border-radius:12px;
    font-size:28px;
    background:#0d6efd;
    color:white;
}

#restartBtn{
    width:340px;
    margin-top:10px;
    display:none;
    background:#dc3545;
}
