*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:white;
    overflow:hidden;
    text-align:center;
}

/* Intro Screen */

#intro{
    position:absolute;
    width:100%;
    height:100vh;
    background:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    animation:fadeOut 2s forwards;
    animation-delay:2s;
    z-index:100;
}

#intro h1{
    font-size:45px;
    color:#00bfff;
}

#intro h2{
    margin-top:10px;
    color:white;
}

/* Main Menu */

#menu{
    position:absolute;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#181818;
}

#menu h1{
    font-size:42px;
    margin-bottom:10px;
}

#menu p{
    margin-bottom:30px;
    color:#ccc;
}

button{
    padding:15px 35px;
    margin:10px;
    border:none;
    border-radius:10px;
    font-size:20px;
    background:#007bff;
    color:white;
}

/* Game */

#game{
    width:100%;
    height:100vh;
}

#hud{
    padding:15px;
    font-size:24px;
}

#road{
    width:340px;
    height:520px;
    margin:auto;
    position:relative;
    overflow:hidden;

    background:
    repeating-linear-gradient(
        to bottom,
        white 0px,
        white 40px,
        transparent 40px,
        transparent 80px
    ) center/8px 80px no-repeat,
    #444;

    border-left:18px solid #2e8b57;
    border-right:18px solid #2e8b57;
}
}

#car{
    width:45px;
    height:70px;
    background:red;
    position:absolute;
    left:145px;
    bottom:20px;
    border-radius:8px;
}

#coin{
    width:30px;
    height:30px;
    background:gold;
    border-radius:50%;
    position:absolute;
    left:150px;
    top:-40px;
}

#obstacle{
    width:50px;
    height:50px;
    background:black;
    position:absolute;
    left:140px;
    top:-100px;
}

.controls{
    margin-top:20px;
}

.controls button{
    width:80px;
    height:60px;
    font-size:28px;
}

@keyframes fadeOut{

    to{
        opacity:0;
        visibility:hidden;
    }

}
.tree{
    width:20px;
    height:50px;
    background:#0a8f2f;
    position:absolute;
    border-radius:10px;
}

.left{
    left:5px;
    top:80px;
}

.right{
    right:5px;
    top:200px;
}
